@model AlgorytmyOnline.Models.L1Model
@{
                /**/

                Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Analiza Algorytmów L1 Kamil Sikorski</title>
    @Scripts.Render("~/bundles/site")
</head>
<body>
    <div>
        @{ 
            var a = 1;
        }
        @Html.Partial("GraphView", Model.E1)
        @Html.Partial("GraphView", Model.E2)
        @Html.Partial("GraphView", Model.E3)
    </div>
</body>
</html>
