@model int
<div>
    <textarea style="max-width:1500px; min-width:1500px; width: 1500px" id="text-@Model" onkeyup="KeyChange(this)"></textarea>
    <textarea style="max-width:1500px; min-width:1500px; width: 1500px; display:none" id="cipher-@Model"></textarea>
</div>